.landing-page-container {
  width: 100%;
  height: 90vh;
  position: relative;
  font-family: "Playfair Display", serif;
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.6);
}
.main-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(0.6);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}
.landing-page-content-container {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  background-attachment: fixed;
}
.landing-page-content-container::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 3px;
  width: 400px;
  background-color: #015958;
  border-radius: 6px;
}
.main-btn {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-decoration: none;
  color: black;
  padding: 20px 120px;
  border: 2px solid #015958;
  background-color: white;
  border-radius: 26px;
  font-size: 30px;
  transition: 0.4s ease-in-out;
}

.main-btn:hover {
  background-color: #015958;
  color: white;
}

@media (max-width: 1440px) {
  .landing-page-content-container {
    top: 100px;
  }
}
@media (max-width: 1024px) {
  .main-btn {
    padding: 20px 100px;
  }
}
@media (max-width: 1024px) {
  .main-btn {
    padding: 10px 80px;
    font-size: 24px;
    text-align: center;
  }
}
